# Lab #3

Mauricio Garcia 10/18/2019

### Abstract

In this lab, I take a look at different points of data from a seattle crime stats census. It is overall very interesting to see the different crimes and number of times committed during each year in Seattle. This lab opens up the oppurtunity to see more about how crime in Seattle is actually relevant to a variety of things. The hope is that this data can be used in the real world to support real arguments.

###### I want to import modules so they're visible in this notebook

In [25]:
#I'll be importing pandas here
import pandas as pd

# I also want to open up and read my file for this lab
df = pd.read_csv('Seattle_Crime_Stats_by_1990_Census_Tract_1996-2007.csv')

In [26]:
df.head(10)

   Report_Year  Census_Tract_1990               Crime_Type  Report_Year_Total
0         1996                1.0       Aggravated Assault                 11
1         1996                1.0                 Homicide                  0
2         1996                1.0  NonResidential Burglary                 41
3         1996                1.0    Property Crimes Total                430
4         1996                1.0                     Rape                  2
5         1996                1.0     Residential Burglary                 42
6         1996                1.0                  Robbery                  2
7         1996                1.0                    Theft                293
8         1996                1.0            Vehicle Theft                 53
9         1996                1.0     Violent Crimes Total                 15

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14268 entries, 0 to 14267
Data columns (total 4 columns):
Report_Year          14268 non-null int64
Census_Tract_1990    14236 non-null float64
Crime_Type           14268 non-null object
Report_Year_Total    14268 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 446.0+ KB

In [28]:
# Here, we get some numbers that give us a general overview of things. Some things such as the report year count aren't very useful so we tend to look at things like the min and max in this case.
df.describe()

        Report_Year  Census_Tract_1990  Report_Year_Total
count  14268.000000       14236.000000       14268.000000
mean    2001.327586          60.955128          75.137090
std        3.380528          34.680663         174.191326
min     1996.000000           1.000000          -2.000000
25%     1998.000000          31.000000           2.000000
50%     2001.000000          60.000000          19.000000
75%     2004.000000          91.000000          66.000000
max     2007.000000         121.000000        4372.000000

In [29]:
# applying groupby function to 
# group the data on  value
gk = df.groupby(Crime_Type)

NameError: name 'Crime_Type' is not defined

In [ ]:
gk.get_group(Crime_Type).info